html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.card {
  max-width: 600px;
  margin: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  background-image: url("../public/autumn-leaves-fall-colors-seamless-pattern-picjumbo-com.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.navbar-logo {
  height: 50px; /* Adjust the size of the logo */
  width: auto;
  margin-right: 15px; /* Space between logo and next element */
  opacity: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center; /* Vertically align the logo and text */
}
